@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Anaheim&family=Bodoni+Moda:opsz@6..96&family=Libre+Barcode+39&family=Libre+Barcode+39+Text&display=swap');
:root {
  --style-img: ;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
