.styleImg{
    position: absolute;
    left: 20vw;
    top: 4%;
    width: 65vw;
    z-index: -2;
    height: 90vh;
}
.styleName{
    padding-left: 50%;
    padding-top: 22%;
    color:white;
    z-index: 2;
    position: absolute;
}

.styleDescript {
    color: black;
    /* padding-top: 20%; */
    font-family:  'Aboreto', cursive;
    text-align: center;
    padding-top: 5%;
    padding-left: 2%;
    padding-right: 2%;
    width: 325px;
    font-size: 30%;
}

.saveButton {
    font-weight: thin;
    /* padding-top: 5vh; */
    /* padding-left: 2%; */
    /* padding-bottom: 5vh; */
    font-family:  'Aboreto', cursive;
    border-width: 0em;
    border-radius: 0%;
    font-size: 100%;
    background-color: rgba(95, 95, 95, 0);
    /* color: rgb(0, 13, 255); */
    cursor: pointer;
}
.saveButton:hover{
    color: white;
    background-image: url("https://www.wien.info/resource/image/431396/Hero-Header/1890/700/595a5acb5a623346a0609ccb117cf993/4BD20416F65523F67FB563807C24488E/albertina-basquiat-la-hara.jpg");
    background-color: rgba(95, 95, 95, 0);
}

.backButton {
    font-weight: thin;
    margin-top: 44vh;
    /* padding-left: 2%; */
    /* padding-bottom: 5vh; */
    font-family:  'Aboreto', cursive;
    border-width: 0em;
    border-radius: 0%;
    font-size: 100%;
    background-color: rgba(95, 95, 95, 0);
    /* color: rgb(0, 13, 255); */
    cursor: pointer;
}

.backButton:hover{
    color: white;
    background-image: url("https://images.ctfassets.net/3s5io6mnxfqz/9DVhFFkOifLoBtG7a5kVu/ee2cc3b4dabe3347fe18662fab6db3fa/Coxcie_Anbetung_des_Lammes_nach_Jan_van_Eyck.jpeg");
    background-color: rgba(95, 95, 95, 0);
}